body {
    max-width: 100%;
    min-width: 300px;
}

#Welcome-message {
    text-align: center;
    color: #949494;
    margin-top: 10px;
    font-family: monospace;
    font-size: 40px;
}

#Welcome-message-2 {
    text-align: center;
    color: #949494;
    margin-top: 15px;
    font-family: monospace;
    font-size: 30px;
    font-weight: lighter;
}

.site-infograph {
    margin: 40px 0;
}

.info-Tex-main {
    text-align: center;
    color: #949494;
    margin-top: 50px;
    font-family: monospace;
    font-weight: bold;
    font-size: 40px;
}

.info-Tex-choices {
    color: #949494;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

#img-1 {
    max-width: 40%;
    display: inline-block;
    margin-right: 10%;
}

#img-2 {
    max-width: 40%;
    margin-right: 10%;
    display: inline-block;
}

#img-3 {
    max-width: 40%;
    display: inline-block;
}

.P {
    color: #6a37ff;
    margin: 20px 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 110%;
    text-align: center;
    max-width: 100%;
}

.circle-container {
    max-width: 300px;
    height: 200px;
    margin-top: 10px;
    border-radius: 35px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.circle-container:hover {
    transform: scale(1.1);
}


.circle-img {
    width: 110%;
    height: 110%;
    object-fit: cover;
    display: block;

}

#home-choices {
    margin: 10px 0;
    text-align: center;
}

#home-signup {
    background-color: #24008d;
    color: #f2f2f2;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: monospace;
}

#home-continue {
    color: #24008d;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
}

#OR-Tex {
    color: #949494;
    font-weight: bold;
}